div.col-md-9 h1:first-of-type {
  text-align: center;
  font-size: 60px;
  font-weight: 300;
}

div.col-md-9 h1:first-of-type .headerlink {
  display: none;
}

code.no-highlight {
  color: black;
}

/* Definition List styles */

dd {
  padding-left: 20px;
}

/* Center images*/

img.center {
  display: block;
  margin: 0 auto;
}

:root>* {
    --md-primary-fg-color: #a44;
    --md-footer-bg-color: #444;
}
.md-typeset .admonition.note, .md-typeset details.note {
    border-color: #a44;
}
.md-typeset .note>.admonition-title, .md-typeset .note>summary {
    border-color: #a44;
    background-color: rgba(170,68,68,.1);
}

.md-typeset .note>.admonition-title::before, .md-typeset .note>summary::before {
    background-color: #a44;
}

